/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* 
font-family: 'Averia Serif Libre', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'DynaPuff', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif; */

:root {
  --warna-merah: #F05033;
  --warna-putih: #fdfdfd;
  --warna-biru: #0276e2;
  --warna-abu: #bbbbbb;
  --warna-hijau: rgba(97, 199, 165, 0.288);
  --warna-bg-Code: #ece9e9;
  --body-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --text-judul-h2: 'Montserrat', sans-serif;
  --text-code: 'Inconsolata', monospace;
}

body {
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--warna-putih);
  font-family: var(--body-fonts);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.navbar-color {
  background-color: rgb(255, 255, 255);
  border-bottom: 6px solid #F05033;

  background-color: var(--warna-putih);
  border-bottom: 6px solid var(--warna-merah);
}

.navbar {
  font-family: var(--body-fonts);
}

/* .nav .nav-item a.nav-link {
  font-size: 18px;
  width: 100px;
  text-align: center;
  color: black;
  margin: 0 10px;
  padding: 0;
} */

.nav .nav-item a.nav-link:hover {
  color: #F05033;
  transition: ease 0.3s;
  font-weight: 600;
  color: var(--warna-merah);
}

.nav-logo img {
  margin: 6px 6px;
  width: 100%;
  max-width: 50px;
  height: auto;
}

.nav-logo h1 {
  margin-right: 30px;
}

.git-design img {
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
}



/* quotes code */
.quotes {
  margin: 120px 0;
  font-size: 20px;
  text-align: center;
}

.quotes-body .quotes-text {
  font-size: 26px;
  font-weight: 300;

  font-family: var(--body-fonts);
}

.quotes-body .quotes-b {
  color: #e91e63;
  font-weight: 600;

  color: var(--warna-merah);
}

.quotes-body .quotes-n {
  color: #bbbbbb;
  font-style: italic;

  color: var(--warna-abu);
}

.lines {
  border-bottom: 4px solid rgba(97, 199, 165, 0.288);

  border-bottom: 4px solid var(--warna-hijau);
}

.list-inline-item,
.bi:hover {
  color: #e91e63;

  color: var(--warna-merah);
}



/* cards-code */
.menu-wrapper {
  position: absolute;
}

.menu-wrapper .sectionA li a {
  display: inline-block;
  transition: 0.5s ease;
}

.menu-wrapper .sectionA .link-active li .active {
  width: 100%;
  transition: 0.5s ease;
}

.menu-wrapper .sectionA .link-active li:hover {
  background-color: rgb(255, 255, 255);

  background-color: var(--warna-bg-Code);
}

.card-font {
  font-size: 16px;
}

#sectionA .card-text .p-dua,
.p-tiga,
.p-empat,
.p-lima,
.p-enam,
.p-tujuh,
.p-delapan,
.p-sembilan {
  display: none;
}


.section-a ul li {
  margin: 8px 20px;
  list-style-type: disc;
}

#sectionA .ul-satu .code {
  background-color: #ece9e9;
  border-radius: 8px;
  font-weight: 800;
  font-family: 'Inconsolata', monospace;
  color: #F05033;
  padding: 4px;

  background-color: var(--warna-bg-Code);
  color: var(--warna-merah);
  font-family: var(--text-code);
}

#sectionA .text-judul {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  background-color: #F05033;
  color: rgb(255, 255, 255);
  width: 38%;
  padding-left: 8px;
  border-radius: 8px;
  margin: 20px 0;

  background-color: var(--warna-merah);
  color: var(--warna-putih);
  font-family: var(--text-judul-h2);
}

#sectionA .text-judul-dua {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  background-color: #F05033;
  color: rgb(255, 255, 255);
  width: 20%;
  padding-left: 8px;
  border-radius: 8px;
  margin: 20px 0;

  background-color: var(--warna-merah);
  color: var(--warna-putih);
  font-family: var(--text-judul-h2);
}




footer {
  width: 100%;
  background-color: rgb(0, 63, 88);
  bottom: 0;
  left: 0;
  position: relative;
  display: flex;
  height: auto;
  color: white;
}

.row-column {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.footer-logo {
  width: 33%;
  display: flex;
  color: white;
  margin: 50px 10px;
}

.footer-logo h1 {
  padding-top: 6px;
}

.footer-img {
  width: 100%;
  max-width: 60px;
  height: 60px;
  margin: 0 10px;
}

.footer-info {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 64px;
}


.social-media,
.bi {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  margin: 10px 10px;
}

.footer-column {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.categories-flex {
  margin-left: 40px;
}

.categories-flex h6::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.categories-flex h6 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}


.categories-flex ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  margin: 0 10px;
}

.categories-flex a:hover {
  color: #ffffff;
  transition: all 0.6s ease;
}


.copyrights {
  border-top: 2px solid white;
}

.copyText p {
  width: auto;
}

/* branch */

.cards-body h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 60px;
}

.cards-body span {
  text-transform: capitalize;
  font-weight: bold;
}

.cards-body .cardstxt {
  width: auto;
}